@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  padding: 6px 12px;
  margin-right: 6px;
}
.edit-btn {
  background-color: #fbbf24;
  color: #fff;
}
.delete-btn {
  background-color: #ef4444;
  color: #fff;
}
.hidden {
  display: none;
}
.block {
  display: block;
}
.w-60 {
  width: 60vw;
}

input {
  padding: 5px;
}
